@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-nav:rgba(21,19,33,0.85);
    --nav-text-color:#ffffff;
    --nav-hover-color:#8b5cf6;

    --headings:#8b5cf6;
    --primary-text:#b0b0c3;

    --bg-button:#221d40;
    --bg-button-hover:#2c2560;
    --btn-shadow:rgba(139, 92, 246, 0.25);

    --bg-about:#1e1e30;
    --bg-contact: #17142b;
    --bg-service:#151524;
    --bg-skills:#2c2c3f;
    --bg-project:#1a1a2e;
    --project-card-bg:#222238;
    --bg-footer:#0c0c14;

    --icons-color:#ffffff;
    --icon-hover:#8b5cf6;
    --icon-active:#a78bfa;

    --heading-font: 'roboto', sans-serif;
    --text-font:'poppins', Times, serif;
    --secondary-text-font:'Inter' sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    list-style: none;
    text-decoration: none;
}

html,
body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}
*::placeholder{
    padding: 10px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: larger;
    color: #f4f4f4d7;
    opacity: 50%;
}
.main{
    scroll-behavior: smooth;
    width: 100%;
}
.home{
    width: 100%;
    height:100vh;
    position: relative;
}
.home::before{
    content: '';
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    filter: brightness(40%) blur(1px);
}
.nav-bar{
    height: 10vh;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    padding-right: 25%;
    padding-left: 25%;
    backdrop-filter: blur(80px);
    border-bottom: 1px solid #2a2a3f;
    background-color: var(--bg-nav);
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
    opacity: 70%;
    z-index: 1000;
}
.nav-bar nav {
    display: flex;
    float: right;
}
.nav-bar nav li{
    list-style: none;
    font-weight: 600;
    font-size: larger ;
    letter-spacing: 2px ;
    padding: 25px;
    cursor: pointer;
}
.nav-bar>nav>li>a{
    text-decoration: none;
    font-family: var(--heading-font);
    color:var(--nav-text-color);
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
}


/* .hamburger style */

.hamburger>#menu-toggle{
    display: none;
}

.hamburger>.menu-icon{
      display: none;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 2px;
      cursor: pointer;
    }
.menu-icon>span{
        display: none;
        height: 5px;
        width: 25px;
        background: #eeeaea;
        border-radius: 2px;
    }
#ham-nav{
    position: fixed;
    width: 100%;
    background-color: #0e3066;
    left: 0;
    top: 10vh;
    z-index: 500;
    padding: 30px;
    display: none;

>li{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    list-style: none;
    font-weight: 600;
    font-size: larger ;
    letter-spacing: 2px ;
    cursor: pointer;
>a{
    color: #F1F5F9;
}
}
}


    /* main home page stylee */

.content{
    position: relative;
    z-index: 10;
    width: 100%;
}
.left{
    /* padding-left: 9vw;
    padding-top: 12vh; */
    padding: 20vh 0 2vh 9vw;
}
.left img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    cursor: pointer;
}
.left>button{
    padding: 12px 24px;
    border-radius: 50px;
    border: none;
    margin-top: 5vh;
    background-color: var(--bg-button);
    color: #F4F4F4;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
    transition: background-color 0.3s ease,transform 0.3s ease, box-shadow 0.3s ease;
}
.left>button>a{
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    color:var(--primary-text);
    font-family: var(--secondary-text-font);
}
.left>h1{    
    color: #F4F4F4;
    cursor: pointer;
}
.left>h1>span{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #fff;
    color: var(--headings);
    font-weight: bold;
    text-transform: capitalize;
    font-size: xxx-large;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: var(--heading-font);
    animation: typing 5s steps(13) infinite,blink 0.7s step-end infinite;
}
.left>p{
    width: 60%;
    color: var(--primary-text);
    margin-top: 2vh;
    font-weight: 600;
    letter-spacing: 3.5px;
    cursor: pointer;
    font-family: var(--text-font);
}


/* about me styling section */

.about{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:var(--bg-about);
    position: relative;
}
.about-me{
    height: 100%;
    width: 50%;
    color: #F4F4F4;
    padding: 60px 0px 60px 60px;

>h1{
    color: var(--headings);
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: var(--heading-font);
    text-shadow: 0 0 20px #8b5cf6;

}
>h2{
    font-family: var(--text-font);
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: x-large;
}
>p{
    text-transform: capitalize;
    color:var(--primary-text);
    font-weight: bold;
    letter-spacing: 2.5px;
    line-height: 25px;
    font-family: var(--secondary-text-font);
}
}

.about-pic{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

>img{
    height: 300px;
    width: 300px;
    border-radius: 40px;
    object-fit: cover;
}
}

/* skills section styling */


.skills{
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: var(--bg-skills);
    padding: 20px;
}
.skills>progress{
    width: 300px;
    height: 20px;
    appearance: none;
    border: none;
    box-shadow: 0 10px 40px-10px #201f1f;
}
progress::-webkit-progress-bar{
    background-color: red;
    border-radius: 10px;
}
progress::-webkit-progress-value{
    background-color: #092046;
    border-radius: 10px;
}


/* forms styling */


.forms{
    position: relative;
    width: 100%;
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: var(--bg-contact);

>h1{
    text-transform: uppercase;
    color: #8b5cf6;
    font-family: var(--heading-font);
        text-shadow: 0 0 20px #8b5cf6;
}
}

.con-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;

>input[type="text"],
input[type="email"],
input[type="tel"]{
    width: 100%;
    max-width: 400px;
    border: none;
    border-radius: 8px;
    outline: none;
    color: #ffffff;
    font-size:small;
    letter-spacing: 2px;
    background-color: #1e1e2f;
    cursor: pointer;
    padding: 12px 16px;
    margin-top: 6vh;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
    transition: box-shadow 0.3s ease,background-color 0.3s ease;
}
>button{
    width: 100%;
    max-width: 400px;
    border: none;
    background-color: var(--bg-button);
    cursor: pointer;
    color: var(--primary-text);
    border: none;
    border-radius: 50px;
    font-size: large;
    font-family: var(--secondary-text-font);
    letter-spacing: 2px;
    padding: 12px 24px;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: background-color 0.3s ease,transform 0.3s ease, box-shadow 0.3s ease;
}
}



/* footer styling */
.wrapper{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    background-color: var(--bg-footer);
    color: #b0b4b9;
    padding: 20px;
}
.quote,.details,.social-links{
    width: 33.33%;  
}
.quote{
    font-size: x-large;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    line-height: 30px;
    padding-left: 30px;
    font-family: var(--heading-font);
    color: var(--primary-text);
}
.details{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: medium;
    font-weight: bold;
    text-transform: capitalize;
    text-align: justify;
    line-height: 30px;
    padding-left: 7vw;
    font-family: var(--secondary-text-font);
>p>a{
    color: var(--primary-text);
}
}
.social-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-links>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    font-size: medium;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 1px;
}
.social-links>ul>li>a>i{
    color: var(--icons-color);
    font-size: 1.2rem;
    transition: color 0.3s ease,transform 0.3s ease;
    cursor: pointer;
}
.social-links>ul>li>a>i:hover{
    color: var(--icon-hover);
    transform: scale(1.2);
}
.social-links>ul>li>a>i:active{
    transform: scale(0.95);
    color: var(--icon-active);
}




/* all hovers and animation and transitions */

.nav-bar>nav>li>a:hover{
    color: #8b5cf6;
}

.nav-bar>nav>li>a::after{
    content:'';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #8b5cf6;
    left: 0;
    bottom: -4px;
    transition: width 0.3s ease;
}
.nav-bar>nav>li>a:hover::after{
    width: 100%;
}



.left>button:hover{
    background-color: var(--bg-button-hover);
    transform: translateY(-2px);
    box-shadow: 0 6px 20px var(--btn-shadow);
}
.left>button:active{
    transform: scale(0.97);
}

@keyframes typing {
   0%{
    width:0ch;
   }
   40%{
    width:16ch
   }
   70%{
    width:16ch;
   }
   100%{
    width:0ch;
   }
}
@keyframes blink{
    0%,100%{
        border-color: transparent;
    }
    50%{
        border-color: #fff;
    }
}


.con-inputs{
>input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover{
    background-color: #25253a;
    transform:  scale(1.02);
}
>input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus{
    box-shadow: 0 0 4px 2px #8b5cf6;
    background-color: #2c2c3f;
}
}

.con-inputs>button:hover{
    background-color: var(--bg-button-hover);
    transform: translateY(-2px);
    box-shadow: 0 6px 20px var(--btn-shadow);
}
.con-inputs>button:active{
    transform: scale(0.97);
}

@media (max-width:650px){ 
    .nav-bar{
        height: 10vh;
    }
    .nav-bar>nav>li{
        display: none;
    }
    .home>.nav-bar{
        padding-left: 5vw;
        justify-content: left;
    }

    /* hamburger styling */


    .hamburger>.menu-icon{
        display: flex;
    }
    .menu-icon>span{
        display: block;
    }
    
    .content{
        width: 100%;
    }
    .left{
       width: 100%; 
       padding-top: 20vh;
       padding-left: 5vw;

    >img{
        height: 150px;
        width: 150px;
    }
    >h1{
        font-size: xx-large;
        margin-top: 4vh;

    >span{
        font-size: xx-large;
        font-weight: bold;
    }
    }
    
    >p{
        font-size: smaller;
        width: 100%;
    }
}
  
    /* about section styling */

    
.about{
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: center;
}
.about-me{
    width: 100%;
    margin-top: 5vh;
    color: #F4F4F4;
    padding: 30px 25px 25px 25px;
    line-height: 20px;
    text-align: justify;
    
>h1{
    margin-bottom: 25px;
}
>h2{
    overflow: hidden;
    line-height: 35px;
    font-size: x-large;
}
>p{
    letter-spacing: 1px;  
}
}
.about-pic{
    width: 100%;
>img{
    height: 250px;
    width: 200px;
}
}
    /* skills styling */


    /* //forms styling */
    

/* footer styling */

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0%;
}
.quote{
    width: 100%;
    padding: 0;
    padding: 30px 0px 30px 0px;
}
.details{
    width: 100%;
    text-align: justify;
    padding: 0;
    padding: 20px 0px 20px 15px;
}
.social-links{
     width: 100%;
    padding: 20px 0px 20px 0px;
}
}